
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<main class="p-5">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a (click)="setActive(1)" class="nav-link" [class.active]="active === 1">dashboard</a>
    </li>
    <li class="nav-item">
      <a (click)="setActive(2)" class="nav-link" [class.active]="active === 2">users</a>
    </li>
    <li class="nav-item">
      <a (click)="setActive(3)" class="nav-link" [class.active]="active === 3">items</a>
    </li>
    <li class="nav-item">
      <a (click)="setActive(4)" class="nav-link" [class.active]="active === 4">login</a>
    </li>
  </ul>

  <div class="p-3 d-flex justify-content-center ">
    <router-outlet></router-outlet>
  </div>
</main>
